<form id="formMascotas" class="mt-5">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nombreMascota" placeholder="nombre mascota" required>
        <label for="floatingInput">nombre mascota</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nombrePropietario" placeholder="nombre propietario" required>
        <label for="floatingPassword">nombre propietario</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="runPropietario" placeholder="run propietario" required>
        <label for="floatingPassword">run propietario</label>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary" value="">agregar mascota</button>
    </div>
</form>

<script src="/js/create.js"></script>